.us{
    margin: 0 auto;
    background-color: rgb(220, 220, 224);
    border-radius: 15px;
  }
  .logo{
      font-size: 35px;
      margin-left: 20px;
      margin-right: 10px;
      margin-top: -10px;
  }